<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Tsintsadze_SignUp::signup" title="Signup" sortOrder="10" >
                    <resource id="Tsintsadze_SignUp::visibility" title="Change Visibility" sortOrder="50" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
